<div class="row site-footer">
    <div class="col-md-6 col-sm-12 left">Copyright <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</div>
    <div class="col-md-6 col-sm-12 right">Proudly published with <a href="https://ghost.org">Ghost</a></div>
</div>